# Usage: 
#   python -m pip install -r requirements.txt --user
# Usage (within python virtual environment):
#   python -m pip install -r requirements.txt

jupyter
numpy
scipy
pandas
scikit-image
scikit-learn
matplotlib
h5py
tables
imageio
seaborn

